# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Power BI Cache
# ==========================================
*.pbix.local

# ==========================================
# OS Files
# ==========================================
Thumbs.db
.DS_Store